<div class="content">

  <div class="title__block">
    <h1 class="title">JWL</h1>
    <p class="subtitle">УКРАШЕНИЯ СО СМЫСЛАМИ</p>
    <hr class="line">
  </div>

  <div class="regButtons">
    <div><a href="/users/signin" class="buttonSignIn">Sign in</a></div>
    <div><a href="/users/registration" class="button">Registration</a></div>
    {{!-- <div><a href="/admin" class="button">Sign in (Admin)</a></div> --}}

  </div>


  <div class="bottom_block">
    <p>Личный кабинет партнера</p>
  </div>


</div>
